/* Symptoms.css */

.symptom-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #aaa1c8; /* Rose quartz color for the box */
  border-radius: 5px;
}

.symptoms-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}

.symptom-button {
  padding: 15px; /* Some padding for spacing on the inside*/
  width: 140px; /* Fixed width for all buttons */
  border: none; /* Having this ensures that we will have a border or none*/
  border-radius: 5px; /* This will help us ensure that we have a border radius of 5px*/
  background-color: #f5e6eb; /* Lavender blush color for the button */
  color: #aaa1c8; /* Rose quartz color for the button text */
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}

.symptom-button.active {
  background-color: #d5c6e0; /* Slightly darker color to indicate active state */
  color: #fff;
}

.severity-slider {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.severity-slider label {
  margin-right: 10px;
}

.severity-slider input[type="range"] {
  flex-grow: 1;
}

.save-button {
  padding: 16px 24px; /* Smaller padding for a smaller button */
  border: none;
  border-radius: 5px;
  background-color: #f5e6eb;
  color: #aaa1c8;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center; /* Aligns the button to the center of the flex container */
}

.save-button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: not-allowed;
}
